@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font: 300 14px/1.8 'Raleway', sans-serif;
  font-family: "微软雅黑"; }

.home {
  width: 100%;
  height: 680px; }
  .home .mask {
    width: 100%;
    height: 100%;
    background: url("../img/bg.jpg") no-repeat center center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0; }
    .home .mask .masktop {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4); }
    .home .mask .cover {
      width: 100%;
      height: 300px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto; }

@keyframes typing {
  from {
    width: 0; } }

@keyframes caret {
  50% {
    border-right-color: transparent; } }

.cover h1 {
  display: block;
  width: 600px;
  height: 200px;
  line-height: 100px;
  position: relative;
  left: 100px;
  color: #fff;
  font-size: 40px;
  /*font: bold 200% Consolas, Monaco, monospace;
  !*width: 8.25em;*!
  width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: .05em solid;
  animation: typing 8s steps(15),
  caret 1s steps(1) infinite;*/ }

.cover span {
  display: block;
  width: 560px;
  height: 200px;
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  padding-top: 100px; }

.topmove {
  animation: yi 0.8s ease both; }

@keyframes yi {
  0% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(0); } }

.about {
  width: 100%;
  height: 671px;
  background: #f3f3f3;
  margin: 0 auto; }
  .about .container {
    max-width: 1170px;
    height: 671px;
    margin: 0 auto;
    position: relative; }
    .about .container .top {
      width: 100%;
      height: 200px;
      padding-top: 120px;
      position: relative; }
    .about .container .bottom {
      width: 100%;
      height: 350px;
      display: inline-block;
      text-align: justify; }
      .about .container .bottom::after {
        content: '';
        width: 100%;
        height: 10px;
        backgroud: red;
        display: inline-block; }

.top h3 {
  display: block;
  width: 240px;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -110px;
  font-size: 40px;
  color: #fc6c6b;
  font-weight: normal; }

.top span {
  display: block;
  width: 260px;
  height: 40px;
  font-size: 20px;
  color: #4a4a4a;
  position: absolute;
  left: 50%;
  margin-left: -130px;
  padding-top: 90px; }

.top .line {
  width: 160px;
  height: 1px;
  background: #4a4a4a;
  position: absolute;
  /* left:50%;
  margin-left:-100px;*/
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  margin-bottom: 125px; }

.bottom .iconbox {
  width: 23%;
  height: auto;
  display: inline-block;
  background: #f3f3f3;
  min-width: 212px; }
  .bottom .iconbox .newbox {
    width: auto;
    height: auto;
    padding: 40px 20px;
    background: #fff; }
    .bottom .iconbox .newbox .box1 {
      width: 100%;
      height: 50px;
      position: relative; }
      .bottom .iconbox .newbox .box1 .jp {
        width: 32px;
        height: 32px;
        background: url("../img/jp.png") no-repeat center center;
        background-size: 32px 32px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto; }
      .bottom .iconbox .newbox .box1 .mb {
        width: 32px;
        height: 32px;
        background: url("../img/mb.png") no-repeat center center;
        background-size: 32px 32px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto; }
      .bottom .iconbox .newbox .box1 .pt {
        width: 32px;
        height: 32px;
        background: url("../img/pt.png") no-repeat center center;
        background-size: 32px 32px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto; }
      .bottom .iconbox .newbox .box1 .wh {
        width: 32px;
        height: 32px;
        background: url("../img/wh.png") no-repeat center center;
        background-size: 32px 32px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto; }
    .bottom .iconbox .newbox span {
      display: block;
      width: 100%;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #000; }
    .bottom .iconbox .newbox .xinxi {
      width: 100%;
      height: auto;
      padding-top: 20px; }
      .bottom .iconbox .newbox .xinxi span {
        width: 100%;
        height: 24px;
        font-size: 14px;
        color: #999;
        line-height: 24px;
        text-align: center; }

.works {
  width: 100%;
  height: auto;
  background: #fff; }
  .works .container {
    max-width: 1170px;
    height: auto;
    margin: 0 auto; }
    .works .container .top {
      width: 100%;
      height: 200px;
      padding-top: 120px;
      position: relative; }
      .works .container .top h3 {
        display: block;
        width: 240px;
        height: 40px;
        position: absolute;
        left: 50%;
        margin-left: -110px;
        font-size: 40px;
        color: #fc6c6b;
        font-weight: normal; }
      .works .container .top span {
        display: block;
        width: 380px;
        height: 40px;
        font-size: 20px;
        color: #4a4a4a;
        position: absolute;
        left: 50%;
        margin-left: -170px;
        padding-top: 90px; }
      .works .container .top .line {
        width: 160px;
        height: 1px;
        background: #4a4a4a;
        position: absolute;
        /* left:50%;
         margin-left:-100px;*/
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        margin-bottom: 125px; }
    .works .container .bottom {
      width: 100%;
      height: auto;
      background: #fff;
      display: inline-block;
      text-align: justify;
      /*&::before{
        content:'';
        width:100%;
        display:inline-block;
        height:10px;
        background:red;
      }*/ }
      .works .container .bottom .botbox {
        width: 100%;
        height: 225px;
        position: relative;
        text-align: justify;
        display: inline-block; }
        .works .container .bottom .botbox::after {
          content: '';
          width: 100%;
          display: inline-block; }
      .works .container .bottom .foot {
        width: 30%;
        height: 225px;
        padding: 20px 10px;
        display: inline-block; }
        .works .container .bottom .foot .footbox {
          /* width:360px;
          height:225px;*/
          width: 100%;
          height: 100%;
          padding: 10px 10px;
          /*&:hover{
            a{
              font-size:40px;
            }*/
          position: relative; }
          .works .container .bottom .foot .footbox h3 {
            width: 100%;
            height: 30px;
            color: #fff;
            font-size: 14px;
            position: absolute;
            top: 50px;
            text-align: center;
            display: none; }
        .works .container .bottom .foot span {
          width: 100px;
          height: auto;
          text-align: center; }
        .works .container .bottom .foot .span {
          animation: spanmove 0.8s ease both; }

@keyframes spanmove {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-20px); } }
        .works .container .bottom .foot .spanleave {
          animation: leave 0.8s ease both; }

@keyframes leave {
  0% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }
        .works .container .bottom .foot .tcs {
          width: 100%;
          height: 100%;
          background: url("../img/tcs.jpg") no-repeat center center;
          background-size: cover; }
          .works .container .bottom .foot .tcs a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            line-height: 225px;
            font-size: 18px;
            color: #fff;
            text-align: center;
            /*&:hover{
                font-size:30px;
              }*/ }
          .works .container .bottom .foot .tcs .maskbox {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); }
        .works .container .bottom .foot .lxr {
          width: 100%;
          height: 100%;
          background: url("../img/lxr.jpg") no-repeat center center;
          background-size: cover; }
          .works .container .bottom .foot .lxr a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            line-height: 225px;
            font-size: 18px;
            color: #fff;
            text-align: center;
            transition: font-size 0.8s ease;
            /*&:hover{
                font-size:30px;
              }*/ }
          .works .container .bottom .foot .lxr .maskbox {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); }
        .works .container .bottom .foot .tm {
          width: 100%;
          height: 100%;
          background: url("../img/tm.jpg") no-repeat center center;
          background-size: cover; }
          .works .container .bottom .foot .tm a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            line-height: 225px;
            font-size: 18px;
            color: #fff;
            text-align: center;
            transition: font-size 0.8s ease;
            /* &:hover{
                font-size:30px;
            }*/ }
          .works .container .bottom .foot .tm .maskbox {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); }
        .works .container .bottom .foot .yt {
          width: 100%;
          height: 100%;
          background: url("../img/yt.jpg") no-repeat center center;
          background-size: cover; }
          .works .container .bottom .foot .yt a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            line-height: 225px;
            font-size: 18px;
            color: #fff;
            text-align: center;
            transition: font-size 0.8s ease;
            /*&:hover{
                font-size:40px;
              }*/ }
          .works .container .bottom .foot .yt .maskbox {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); }
        .works .container .bottom .foot .pg {
          width: 100%;
          height: 100%;
          background: url("../img/pg.jpg") no-repeat center center;
          background-size: cover; }
          .works .container .bottom .foot .pg a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            line-height: 225px;
            font-size: 18px;
            color: #fff;
            text-align: center;
            transition: font-size 0.8s ease;
            /* &:hover{
                font-size:40px;
              }*/ }
          .works .container .bottom .foot .pg .maskbox {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); }
        .works .container .bottom .foot .yy {
          width: 100%;
          height: 100%;
          background: url("../img/yy.jpg") no-repeat center center;
          background-size: cover; }
          .works .container .bottom .foot .yy a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            line-height: 225px;
            font-size: 18px;
            color: #fff;
            text-align: center;
            transition: font-size 0.8s ease;
            /*&:hover{
                font-size:40px;
              }*/ }
          .works .container .bottom .foot .yy .maskbox {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); }
        .works .container .bottom .foot .wzq {
          width: 100%;
          height: 100%;
          background: url("../img/wzq.jpg") no-repeat center center;
          background-size: cover; }
          .works .container .bottom .foot .wzq a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            line-height: 225px;
            font-size: 18px;
            color: #fff;
            text-align: center;
            transition: font-size 0.8s ease;
            /*  &:hover{
                font-size:40px;
              }*/ }
          .works .container .bottom .foot .wzq .maskbox {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); }
        .works .container .bottom .foot .pk {
          width: 100%;
          height: 100%;
          background: url("../img/pk.jpg") no-repeat center center;
          background-size: cover; }
          .works .container .bottom .foot .pk a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            line-height: 225px;
            font-size: 18px;
            color: #fff;
            text-align: center;
            transition: font-size 0.8s ease;
            /* &:hover{
                font-size:40px;
              }*/ }
          .works .container .bottom .foot .pk .maskbox {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); }
        .works .container .bottom .foot .ps {
          width: 100%;
          height: 100%;
          background: url("../img/ps.jpg") no-repeat center center;
          background-size: cover; }
          .works .container .bottom .foot .ps a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            line-height: 225px;
            font-size: 18px;
            color: #fff;
            text-align: center;
            transition: font-size 0.8s ease;
            /* &:hover{
               font-size:40px;
             }*/ }
          .works .container .bottom .foot .ps .maskbox {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); }

.skill {
  width: 100%;
  min-height: 600px;
  height: auto;
  background: #f3f3f3; }
  .skill .container {
    max-width: 1170px;
    height: auto;
    margin: 0 auto; }
    .skill .container .top {
      width: 100%;
      height: 200px;
      padding-top: 120px;
      position: relative; }
      .skill .container .top h3 {
        display: block;
        width: 200px;
        height: 40px;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        font-size: 40px;
        color: #fc6c6b;
        font-weight: normal; }
      .skill .container .top span {
        display: block;
        width: 380px;
        height: 40px;
        font-size: 20px;
        color: #4a4a4a;
        position: absolute;
        left: 50%;
        margin-left: -170px;
        padding-top: 90px; }
      .skill .container .top .line {
        width: 160px;
        height: 1px;
        background: #4a4a4a;
        position: absolute;
        /* left:50%;
         margin-left:-100px;*/
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        margin-bottom: 125px; }
    .skill .container .bottom {
      width: 100%;
      max-width: 1120px;
      height: auto; }
      .skill .container .bottom .j1, .skill .container .bottom .j2, .skill .container .bottom .j3, .skill .container .bottom .j4, .skill .container .bottom .j5, .skill .container .bottom .j6, .skill .container .bottom .j7, .skill .container .bottom .j8 {
        /* position:absolute;
        top:0;*/ }
      .skill .container .bottom .jineng {
        width: 20%;
        height: auto;
        padding: 10px 0;
        position: relative;
        /*position:absolute;
        top:0;*/
        display: inline-block;
        /*ul{
          width:100%;
          height:auto;
          background:#fff;
          display:none;
          li{
            color:#666;
            font-size:10px;
            //font:300 14px/1.8 'Raleway', sans-serif;
            font-family: sans-serif;

          }
        }*/ }
        .skill .container .bottom .jineng .circle {
          width: 140px;
          height: 140px;
          border: 10px solid #fc6c6b;
          border-radius: 50%;
          /* position:absolute;
          top:0;*/
          margin: 0 auto; }
          .skill .container .bottom .jineng .circle span {
            display: block;
            width: 140px;
            height: 140px;
            font-size: 22px;
            color: #000;
            line-height: 140px;
            text-align: center;
            font-family: sans-serif; }
        .skill .container .bottom .jineng ul {
          display: none;
          width: 160px;
          height: 160px;
          background: rgba(49, 49, 49, 0.8);
          position: absolute;
          top: 10px;
          right: 0;
          left: 0;
          margin: 0 auto;
          border-radius: 50%; }
          .skill .container .bottom .jineng ul li {
            color: #fff;
            font-size: 2px;
            font-family: sans-serif; }

.bottom .bottombox {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: justify;
  position: relative; }
  .bottom .bottombox::after {
    content: '';
    width: 100%;
    display: inline-block; }

.self {
  width: 100%;
  height: auto; }
  .self .container {
    max-width: 1170px;
    min-height: 830px;
    margin: 0 auto;
    position: relative; }
    .self .container .top {
      width: 100%;
      height: 200px;
      padding-top: 120px;
      position: relative; }
      .self .container .top h3 {
        display: block;
        width: 400px;
        height: 40px;
        position: absolute;
        left: 50%;
        margin-left: -160px;
        font-size: 40px;
        color: #fc6c6b;
        font-weight: normal; }
      .self .container .top span {
        display: block;
        width: 220px;
        height: 40px;
        font-size: 20px;
        color: #4a4a4a;
        position: absolute;
        left: 50%;
        margin-left: -105px;
        padding-top: 90px; }
      .self .container .top .line {
        width: 160px;
        height: 1px;
        background: #4a4a4a;
        position: absolute;
        /* left:50%;
         margin-left:-100px;*/
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        margin-bottom: 125px; }
    .self .container .bottom {
      width: 100%;
      height: auto; }
      .self .container .bottom .bbox {
        width: 100%;
        height: 300px;
        position: relative;
        text-align: justify;
        display: inline-block; }
        .self .container .bottom .bbox span {
          padding: 10px 50px;
          width: 60%;
          height: auto;
          position: absolute;
          left: 0;
          font-size: 15px;
          line-height: 30px;
          color: #666;
          display: inline-block; }
        .self .container .bottom .bbox .pic {
          width: 20%;
          height: auto;
          height: 200px;
          padding: 10px 20px;
          position: absolute;
          right: 0;
          background: url("../img/me1.png") no-repeat center center;
          background-size: contain;
          border-radius: 20px;
          display: inline-block; }
        .self .container .bottom .bbox::after {
          content: '';
          width: 100%;
          display: inline-block; }
    .self .container .contact {
      width: 100%;
      height: 50px;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      bottom: 0;
      display: inline-block;
      text-align: justify; }
      .self .container .contact::after {
        content: '';
        width: 100%;
        display: inline-block; }
      .self .container .contact .contactbox {
        width: 30%;
        height: 100%;
        display: inline-block;
        position: relative; }
        .self .container .contact .contactbox .imgbox {
          display: block;
          width: 50%;
          height: 100%;
          position: absolute;
          left: 100px;
          text-decoration: none;
          font-size: 14px;
          line-height: 50px;
          color: #fff;
          cursor: pointer; }
        .self .container .contact .contactbox .phone {
          width: 32px;
          height: 32px;
          position: absolute;
          top: 9px;
          left: 40px;
          background: url("../img/phone.png") no-repeat center center;
          background-size: 32px 32px; }
        .self .container .contact .contactbox .email {
          width: 32px;
          height: 32px;
          position: absolute;
          top: 9px;
          left: 40px;
          background: url("../img/email.png") no-repeat center center;
          background-size: 32px 32px; }
        .self .container .contact .contactbox .address {
          width: 32px;
          height: 32px;
          position: absolute;
          top: 9px;
          left: 40px;
          background: url("../img/address.png") no-repeat center center;
          background-size: 32px 32px; }

.scroll {
  display: block;
  animation: move 0.8s ease both; }

@keyframes move {
  0% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(0); } }

.tou {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  transform: translateY(-100px);
  z-index: 2; }
  .tou .touinner {
    max-width: 1170px;
    height: 100%;
    position: relative;
    margin: 0 auto; }
    .tou .touinner .toubox {
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      display: inline-block;
      text-align: justify; }
      .tou .touinner .toubox span {
        display: inline-block;
        height: 100%;
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        line-height: 50px;
        transition: color 0.8s ease;
        cursor: pointer; }
        .tou .touinner .toubox span:hover {
          color: white; }
      .tou .touinner .toubox .active {
        color: white; }
      .tou .touinner .toubox::after {
        content: '';
        width: 100%;
        background: red;
        display: inline-block; }
